<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - TNEA</title>
    <link rel="stylesheet" href="{% static '/CSS/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    {% if flag %}
    <script>
        alert("{{msg}}")
    </script>
    {% endif %}
    <div class="body-wrap">
        <div class="top-bar">
            <div class="logo-cont">
                <span class="logo">TNEA</span>
                <span class="ins-point"></span>
            </div>
            <div class="btn-section">
                <a href="" class="btn">News</a>
                <a href="" class="btn">Contact</a>       
                <a href="" class="btn">College codes</a>
            </div>
            <div class="sign-up-btn">
                <a href="/account/signup" class="sign-btn">Sign Up</a> 
            </div>
        </div>
        <div class="main-wrap">
            <div class="tnea-desc-cont">
                <h3 class="tnea-desc">career admission<br> made 
                    <span class="highlight red">easy,</span>
                    <span class="highlight green">safe,</span>
                    <span class="highlight blue">secure.</span>
                </h3>
            </div>
            <div class="wrap">
                <div class="login-form-cont">
                    <div class="form-cont">                    
                        <form action="" method="post" class="login-form">
                            <h3 class="login">Login</h3>
                            {% csrf_token %}
                            <input type="email" name="email" class="ipbox" placeholder="Your Email ID">
                            <input type="password" name="pwd" class="ipbox" placeholder="Your Password">
                            <input type="submit" value="Login" id="login-btn">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrap">
            <div class="footer">
                <span class="footer-desc">copyright reserved to &copy; team ACS</span>
            </div>
        </div>
    </div>
    <!--#1ba94c-->
</body>
</html>